@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chicago";
  src: url("./assets/Chicago.ttf") format("truetype");
}

body {
  overflow: hidden;
  background-color: black;
  perspective: 3000px;
  perspective-origin: 50% 50%;
}
